html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
  background: #dfdfdf;
}

#header, 
#footer {
  background-color: #343434;
}

#header h1{
  margin: 0;
  padding: 0;
  height: 60px;
  text-indent: -5000px;
  background: url("Baidu.png") 40px center/120px no-repeat;
}

#nav {
  position: relative;
  float: right;
  right: 20px;
  top: 50%;
  margin: 11px 0 0 0;
  padding: 0;
  font-size: 13px;
}

#nav ul {
  position: relative;
  top: center;
  margin: 0;
}

#nav li { 
  float: left;
  margin: 10px;
  list-style: none;
}

#nav li a { text-decoration: none }
#nav li a:link { color: white; }
#nav li a:hover { color: grey; }
#nav li a:visited { color: white; }

#footer {
  height: 70px;
  font-size: 11px;
  color: white;
  text-align: center;
}

#footer p {
  position: relative;
  top: 20px;
}

article {
  background-color: white;
  box-shadow: 2px 2px #9d9d9d;
  margin: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #d4d4d4;
}

article header { margin: 20px; }

article h1 { font-size: 21px; }

article h2 {
  font-size: 16px;
  color: #686469;
}

article address {
  font-style: normal;
  font-size: 11px;
  color: #686469;
}

time::before { content: " "; }

section {
  margin: 20px;
  font-size: 15px;
}

section img {
  width: 300px;
  height: 240px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin: 0;
  line-height: 26px;
  text-indent: 2em;
}

.image { text-indent: 0; }

.image img { margin bottom: 0; }

.list {
  margin-top: 0;
  list-style: none;
}

figure {
  position: relative;
  width: 100px; /* bug */
  padding: 10px;
  font-size: 11px;
  border: 1px solid #cbcbcb;
}

figure img {
  margin: 12px 0 0 0;
  width: 100px;
  height: 80px;
}

table {
  width: 100%;
  border-collapse: collapse; 
  border: thin solid gainsboro;
}

td { border: thin solid gainsboro }

th {
  background-color: #343434;
  color: white;
}

.darkline { border-bottom-color: #cccccc; } 

#totalling { background-color: #cccccc; }

#table { margin-bottom: 5px; }

aside { font-size: 11px; }

aside h1 { 
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
  line-height: 38px;
  border-left: 3px solid #dddddd;
}

aside article { padding: 20px; }

.tips {
  position: relative;
  left: 350px;
  text-align: left;
  color: #929493;
}

[type="email"], 
[type="password"] {
  width: 123px;
  height: 16px;
}


input::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 18px;
}

input { position: relative; }

.label {
  position: absolute;
  left: 250px;
  width: 150px;
  text-align: right;
}

.input {
  position: relative;
  vertical-align: middle;
  left: 350px;
  text-align: left;
}

select {
  position: relative;
  top: -1px;
  font-size: 10px;
}

textarea {
  position: relative;
  top: 5px;
  height: 100px;
  right: 65px;
  width: 40%;
  max-width: 700px; /* bug */
}

#submit {
  position:relative;
  width: 100%;
  height: 40px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3256d1;
  font-size: 16px;
  color: white;
  border: 1px solid #c5cccf;
  border-radius: 0.5em;
}

#sub { text-indent: 0; }
